<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Devil HQ</title>
    <link rel="stylesheet" href="styles/main.css"/>
</head>
<header>
    <nav>
        <ul class="site-nav">
            <li><a href="#home">About</a></li>
            <li><a href="#one">Fans</a> </li>
            <li><a href="#two">News</a> </li>
        </ul>
    </nav>
</header>
<body>
    <main>
