<%- include("partials/header.ejs") %>
<img src="<%= team.logo %>" alt="manchester united logo"/>
<h1> The Red Devil HQ</h1>
<p>Where fans meet Manchester United ...</p>
<%- include("partials/footer.ejs") %>